<!-- Linux命令行搜索引擎：https://jaywcjlove.github.io/linux-command/ -->
<div class="footer <%if(type=='home'){%> home <%}%>">
   搜索，如：麻婆豆腐 或 肉 | 
   <a href="<%=relative_path%>hot.html">食物列表</a> 
</br>
  <a href="https://github.com/jaywcjlove/linux-command" target="_blank">鸣谢</a> 
</div> 