<!-- Linux命令行搜索引擎：https://jaywcjlove.github.io/linux-command/ -->
<div class="footer <%if(type=='home'){%> home <%}%>">
   搜索，如：麻婆豆腐 或 肉 | 
   <a href="<%=relative_path%>hot.html">食物列表</a> 
  </br>
   收藏本站请使用 Ctrl+D 或者Command+d
  </br>
  <a href="https://github.com/jaywcjlove/linux-command" target="_blank">鸣谢</a> 
</div> 
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9Q7KSWF88B"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9Q7KSWF88B');
</script>