<!-- Linux命令行搜索引擎：https://jaywcjlove.github.io/linux-command/ -->
<div class="footer <%if(type=='home'){%> home <%}%>">
   搜索，如：麻婆豆腐
</br>
  <a href="https://github.com/jaywcjlove/linux-command" target="_blank">使用的框架</a> 
</div> 